@model MVCApp.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @{
                var types = Pokemon.GetDistinctTypes(Model.Type);
                for (int i = 0; i < types.Length; i++)
                {
                    <div class="type-badge" style="background-color:@Pokemon.GetBadgeColor(types[i])">@types[i]</div>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
